<!DOCTYPE html>
<html>
<head>
	<title>Login Form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
	<% include ./partials/navbar %> 
	<h1> Sign in! </h1>

	<form action="/login" method="post">
		<input type="text" name="email" placeholder="email">
		<input type="password" name="password" placeholder="password">
		<button>Login</button>
	</form>
</body>
</html>
