<!DOCTYPE html>
<html>
<head>
	<title>Register Form</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>
<body>
	<% include ./partials/navbar %> 
	<h1> Sign Up! </h1>

	<form action="/join" method="POST">
		<input type="email" name="email" placeholder="email">
		<input type="password" name="password" placeholder="password">
		<input type="text" name="nickname" placeholder="nickname">
		<select name="gender">
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="other">Other</option>
		</select>
		<input type="text" name="age" placeholder="age">
		<button>Sign Up</button>
	</form>
</body>
</html>