<!DOCTYPE html>
<html>
<head>
	<title>Search results</title>
	<link rel="stylesheet" href="search.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="index.css">

</head>
<body>
	<% include ./partials/navbar %>
	<div class="container">
		<h1 class="header"> Search results for <%= searched %> </h1>
		<div class= "container-of-chatrooms">
		<div class = "parent-chatroom">
		<% if (chatrooms.length == 0){%>
			<div>
				<p id="empty">No chatrooms! Would you like to make one?</p>
			</div>
		<%}else{%>
		<% chatrooms.forEach(function(chatroom){%>
				<div class="chatroom rounded">
					<h2><a href="/chatroom/<%=chatroom.chatroom_id%>"><%=chatroom.chatroom_name%></a></h2>
					<h4> Created by: <%= chatroom.nickname%> </h4>
				</div>
			<%})};%>
		</div>
	</div>
</div>
<div class="parent-new">
	<div class="new">
		<a href="/new" class="btn btn-primary btn-circle btn-lg">New</a>
	</div>
</div>
</body>
</html>